extends /layouts/application.pug

block content
  .jumbotron
    h1.text-center.display-1
      | Users
    table.table.table-striped.text-center 
      thead
        tr
          th Full Name
          th E-mail
          th Joined
      tbody
        each user in users
          tr
            td
              +formFor(user, { url: urlFor('users#show', user.id) })
                button.btn.btn-outline-info.btn-block(type='submit')= user.fullName
            td.align-middle= user.email
            td.align-middle= user.createdAt.toLocaleString()

                