extends ../layouts/application.pug

block content
  .jumbotron
    h1.text-center.display-1
      | Sign up

    .row.mt-3
      .col-sm-6.mx-auto
        +formFor(f, { url: urlFor('users#create'), method: 'post' })
          +input(f, 'email', 'Input your e-mail', { as: 'email' })
          +input(f, 'firstName', 'Input your first name')
          +input(f, 'lastName', 'Input your last name')
          +input(f, 'password', 'Input a password, at least 3 symbols long', { as: 'password' })
          +button(f, 'Sign up')